<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexora</title>
    <link rel="stylesheet" href="css/custom.css">
    <link rel="shortcut icon" href="/src/assets/images/fevicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/src/assets/css/cdn.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Forum&family=Lexend:wght@100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    
</head>
<body  class="h-full flex items-center justify-center font-[lexend]">
    <div id="loader" style="display: none; text-align: center;">
        <p>Loading...</p>
    </div>
  
  
   

    <div class="w-full  flex items-center justify-center ">
        <div class="max-w-md w-full px-[10px]">
            <h1 class="text-center text-[50px]"><i class="ri-artboard-2-line"></i></h1>
            <h2 class="text-2xl font-[Lexend] text-black text-center">Welcome to ResuMetrics </h2>   
            <div class="my-6 flex items-center">
                <hr class="flex-grow border-gray-300">
                <hr class="flex-grow border-gray-300">
            </div>
            <button id="google-btn" class="w-full p-3 border border-gray-300 rounded-lg flex items-center justify-center space-x-2 mb-3">
                <img src="https://www.svgrepo.com/show/355037/google.svg" alt="Google" class="w-5">
                <span>Log in with Google</span>
            </button>
            <button id="github-btn" class="w-full p-3 border border-gray-300 rounded-lg flex items-center justify-center space-x-2 mb-3">
                <img src="https://www.svgrepo.com/show/512317/github-142.svg" alt="Github" class="w-5">
                <span>Log in with Github</span>
            </button>
         
        </div>
    </div>    
</body>
<script src="/templates/firebase.js" type="module"></script>
<script src="/templates/github_login.js" type="module"></script>
<script src="/templates/profile.js" type="module"></script>
<script src="/templates/script.js" type="module"></script>
</html>
